.App {
  text-align: center;
}
.App-menu {
  display: flex;
  align-items: center;
  justify-content: left;
}

.App-link {
  color: #61dafb;
}

.nav-link{
  font-family: 'Roboto', sans-serif;
  color: white !important;
}
